body {
  font: 14px "Helvetica", "Arial", sans-serif;  
  padding: 10px;
  border: 5px solid #eee;
  max-width: 300px;
  background-color: #bd3ebd; 
  margin: 5px;
}

/* HEADING */

#page-wrapper {
  width: 300px;
  margin: 0 auto;
}

.description {
  margin: 10px 0 5px 0;
  border: 2px solid #eee;
  padding: 10px;
 } 

.screenshot {
  border: 0;
}

.item {
  text-align: left;
  background-color: #c0c2ff;
  font-weight: bold;
  list-style: none;
}
